p{
    font-size: large;
}
#main .carousel-inner img {
    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(70%);
}

#carousel {
    position: relative;
}

#carousel .overlay .container,
#carousel .overlay .row {
    height: 100%;
}

#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    z-index: 1;
}

#who img, 
#modus img,
#modus2 img,
#modus3 img {
    max-height: 70vh;
}

#foot{
    background-color:darkslategray;
    color: beige;
}

.dark{
    background-color: rgb(29, 68, 68);
    color: beige;
}